/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* ----------------------------------------------- */
/* Top Navigation Bar */
/* ----------------------------------------------- */

@media screen and (max-width:767px) { 
  /*　画面サイズが767px以下の場合読み込む　*/
  .navMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 40px;
  }
  
  
  
  .navMenu li {
    float: left;
  }
  
  .navMenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  /* ----------------------------------------------- */
  /* Navbar */
  /* ----------------------------------------------- */
  
  .navbar {
  font-family: 'Do Hyeon', sans-serif;
  text-transform: uppercase;
  }
  .navbar-header a {
  font-size: 240%;
  }
  
  .navbar-default {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #22303d;
  }
  
  .navbar-nav > li > a {
  color: white;
  }
  
  .navbar-link {
  color: white;
  }
  
  .navbar-brand {
  color: white;
  letter-spacing: 1.1px;
  }


  /* ----------------------------------------------- */
  /* Form design */
  /* ----------------------------------------------- */
  .formGeneral {
    margin-top: 100px;
      text-align: center;
      height: 300px;
  }

  .formMini {
    width: 600px;
    height: 50px;
    top: 50%;
    left: 50%;
    border: none;
    border-radius: 5px;
    text-align: center;
  }

  .submitButton {
    background-color: transparent;
    width: 600px;
    height: 50px;
    color: #fff;
    border: solid 1px white;
    border-radius: 20px;
  }
  .submitButton:hover {
    background-color: #283848;
  }

  
  /* ----------------------------------------------- */
  /* General */
  /* ----------------------------------------------- */
  
  body {
  background-color: #22303d;
  }
  
  /* ----------------------------------------------- */
  /* Card design */
  /* ----------------------------------------------- */
  
  .container-fluid {
  padding-top: 30px;
  }
  
  .col-sm-6 {
  padding-bottom: 20px;
  }
  
  .col-sm-4 {
  padding-bottom: 20px;
  }
  
  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  #addFolderButton {
    background-color: transparent;
    width: 320px;
    margin-left: 30px;
    border: solid 1px white;
  }

  #addFolderButton:hover {
    background-color: #283848;
  }

  .btn-primary{
    background-color: #283848;
    width: 120px;
    height: 45px;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 25px;
  } 

  .folderLinkTitle {
    color: black;
  }
  .link-show {
    padding-left: 50px;
    color: aliceblue;
  }
  

}














@media screen and (min-width:768px){
  /*　画面サイズが768px以上の場合読み込む　*/
  .navMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 40px;
  
  }
  
  
  
  .navMenu li {
    float: left;
  }
  
  .navMenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  /* ----------------------------------------------- */
  /* Navbar */
  /* ----------------------------------------------- */
  
  .navbar {
  font-family: 'Do Hyeon', sans-serif;
  text-transform: uppercase;
  }
  .navbar-header a {
  font-size: 240%;
  }
  
  .navbar-default {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color:#22303d;
  }
  
  .navbar-nav > li > a {
    color: #fff;
  }
  
  .navbar-link {
    color: #fff;
  }
  
  .navbar-brand {
    color:white;
    letter-spacing: 1.1px;
  }
  

  /* ----------------------------------------------- */
  /* Form design */
  /* ----------------------------------------------- */
  .formGeneral {
    margin-top: 100px;
      text-align: center;
      height: 300px;
  }

  .formMini {
    width: 600px;
    height: 50px;
    top: 50%;
    left: 50%;
    border: none;
    border-radius: 5px;
    text-align: center;
  }

  .submitButton {
    background-color: transparent;
    width: 600px;
    height: 50px;
    color: #fff;
    border: solid 1px white;
    border-radius: 20px;
  }
  .submitButton:hover {
    background-color: #283848;
  }

  
  /* ----------------------------------------------- */
  /* General */
  /* ----------------------------------------------- */
  
  body {
    background-color:#22303d;
  }
  
  /* ----------------------------------------------- */
  /* Card design */
  /* ----------------------------------------------- */
  
  .container-fluid {
  padding-top: 30px;
  }
  
  .col-sm-6 {
  padding-bottom: 20px;
  }
  
  .col-sm-4 {
  padding-bottom: 20px;
  }
  
  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  #addFolderButton {
    background-color: transparent;
    width: 320px;
    margin-left: 30px;
    border: solid 1px white;
  }

  #addFolderButton:hover {
    background-color: #283848;
  }
  

  .card-title {
    text-align: center;
  }
  .btn-primary{
    background-color: #283848;
    width: 120px;
    height: 45px;
    border: none;
    border-radius: 5px;
    margin-left: 25px;
    margin-bottom: 5px;
  }
  
  .folderLinkTitle {
    color: black;
  }

  .link-show {
    color: aliceblue;
    padding-left: 50px;
  }

  
}


